
# Compiled Modules
*.pyc

.DS_Store

figures/*_new.pdf
figures/*_new.png
figures/video/*

# pip-compile output
requirements.txt

# Generated documentation files
doc/sphinx/generated_doc/*
doc/sphinx/_doc_build/*
